# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
env/
ENV/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# macOS
# -----------------------------
.DS_Store

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Build / Distribution
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# Testing
# -----------------------------
.coverage
htmlcov/
.pytest_cache/

# -----------------------------
# Misc
# -----------------------------
*.sqlite3
*.db